{%extends base/base.html%}

<div class="row justify-content">
    <div class="row">
        <div class="col-4"?>
            <img src="">

        </div>
        <div class="col-8">
            <h2>Hello! My name Is Author</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius impedit, maxime cum consequuntur sapiente dolor voluptate enim natus asperiores, omnis quidem, provident possimus magni voluptates atque dolores? Unde, illum ut.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae itaque nam eos voluptatum temporibus saepe quos, id repudiandae quibusdam distinctio. Quo similique nulla magnam accusamus ut nisi, autem voluptatum nesciunt.</p>
        </div>
    </div>

</div>
{%endblock%}